{%extends "main/base.html"%}
{%block title%}Это база{%endblock%}

{%block content%}
<br>
<div class="block">
    <p>Здоровье это очень важно, <br>
        Здоровье это очень нужно
    </p>
</div>


<a href="/admin" class="block2">
    <h1>Вход/Регистрация</h1>
    <img src="https://w.forfun.com/fetch/05/05098fec93af44d0a8a16e873b66d0c3.jpeg">
</a>
<a href="/otziv" class="block24">
    <h1>Добро пожаловать</h1>
    <img src="https://w.forfun.com/fetch/05/05098fec93af44d0a8a16e873b66d0c3.jpeg">
</a>
<a href="/tovari" class="block3">
    <h1>Магазин</h1>
    <img src="https://mykaleidoscope.ru/x/uploads/posts/2022-10/1666362309_62-mykaleidoscope-ru-p-krasota-prirodi-pinterest-64.jpg">
</a>

{%endblock%}
